// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

// Global Styles
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	color: $dark-blue;
	background-color: $dark-blue;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}


// Titles
h1 {
	font-size: 23px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 21pt;
	line-height: normal;
	font-weight: 300;
}

h3 {
	font-size: 21pt;
	line-height: normal;
	font-weight: 700;
}


// Buttons
button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 36px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 3px 6px #00000029;
	background-color: $dark-gray;
	color: $white;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 7px 35px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&.green {
		background-color: $green;
	}

	&.full {
		width: 100%;
	}
}


// Tabs
.tabs {
	margin-top: 25px;

	& > .tab-titles {
		display: flex;
		gap: 30px;
		border-bottom: 2px solid $dark-gray;

		& > * {
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			opacity: 0.2;
			border-bottom: 4px solid transparent;
			padding: 5px 10px;
			margin-bottom: -3px;
			cursor: pointer;

			&:hover {
				opacity: 0.7;
			}

			&.active {
				opacity: 1;
				border-bottom-color: $green;
			}
		}
	}

	& > .tab-contents {
		padding-top: 20px;
	}

}
